.img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.canvas
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gameButton
{
  width: 25%;
  margin: 2rem 0px;
}

.timer
{
  font-size: 2.5rem;
  margin: 0px 0px 1rem;
}

header
{
  background-color: #f39c12 !important;
}

.radio-text
{
    font-size: 1.9rem;
  }

.pack-radio
{
  margin: 0px 0px 0.5rem;
}
